@import "tailwindcss";

:root {
    --bg-dark: #121212;
    --text-light: #FFFFFF;
    --border-radius: 10px;
    --padding: 20px;
    --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

@theme {
    --color-primary-100: #dcd5b1;
    --color-primary-200: #c7ba82;
    --color-primary-300: #ae8f52;
    --color-primary-400: #997546;
    --color-primary-500: #805c3d;
    --color-dark-100: #121212;
    --color-dark-200: #181818;
    --color-dark-300: #1e1e1f;
    --color-dark-400: #333333;
}

.image-bg {
    background: linear-gradient(145deg, #1e1e1e, #2c2c2c);
}

.sidebar {
    flex: 0 0 250px;
    background: #181818;
    border: 1px solid #333;
    padding: var(--padding);
    border-radius: var(--padding);
    margin-right: 40px;
    height: fit-content;
    position: sticky;
    top: 52px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
}

.main-content {
    flex: 1;
}

@keyframes slow-ping {
    0% {
        transform: scale(1);
        opacity: 0.75;
    }

    70% {
        transform: scale(2.8);
        opacity: 0;
    }

    100% {
        transform: scale(2.8);
        opacity: 0;
    }
}

.custom-ping {
    animation: slow-ping 1.8s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1f; /* track color */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ae8f52; /* thumb color */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #997546; 
}

/* CHATBAR */
.chat-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.chat-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1f; /* track color */
    border-radius: 10px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
    background: #ae8f52; /* thumb color */
    border-radius: 10px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #997546; 
}